/* CSS RESET: use box-sizing model; remove default margin & form typography styles; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
/* imported google fonts examples */

/* variables---------------------------------------------------------------- */
:root{
  --grey1: hsl(214 32% 91%); 
}

/* main CSS */
body{
  height: 100vh;
}
.booksGrid {
  height: 100%;
  display: grid;
  background-color: var(--grey1);
  .book{

  }
}