/* CSS RESET: use box-sizing model; remove default margin & form typography styles; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
:root{
  --grey1: hsl(214 48% 82%);
  --grey2: hsl(214 32% 91%);
}

/* main CSS */
body{
  height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--grey1);
}
.booksGrid {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(12rem,13rem));
  gap: 1rem;
  padding: 1rem; /*works great with place-content (which is justify/align grid content)*/
  place-content: center;
  background-color: var(--grey1);
  .book{
    background-color: var(--grey2);
    border-radius: 10px;
    padding: 1rem 1rem 4rem 1rem;
  }
}

#newBookModal {
  margin: auto;
  width: 85%;
  form {
    input {
      width: 100%;
    }
    label:nth-of-type(4){
      display: flex;
      input {
        margin-left: -46%; /* pull checkbox left towards label */
      }
    }
  }
}