/* CSS RESET: use box-sizing model; remove default margin & form typography styles; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
/* imported google fonts examples */

/* variables---------------------------------------------------------------- */
:root{
  --grey1: hsl(214 32% 85%);
  --grey2: hsl(214 32% 91%);
}

/* main CSS */
body{
  height: 100vh;
}
.booksGrid {
  height: 100%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  background-color: var(--grey1);
  .book{
    background-color: var(--grey2);
    border-radius: 10px;
    padding: 1rem;
  }
}